@media only screen and (max-width: 600px) {
    /* Bigger phones */
    .gbp{
        visibility: hidden;
    }
    .ledgerOptions h1{
        display: none;
    }
    .ledgerOptions{
        flex-wrap: wrap
    }
    .ledgerOptions > select{
        flex-grow: 1;
        margin-left: 0;
    }
    .appMQ{
        margin: 1rem;
        margin-top: 10rem;
    }

    table{
        width: 100%;
        overflow-x: auto;
        border-collapse: seperate;
        border-spacing: 0 8px;
    }
    table thead {
        display: none;
    } 
    table tr {
        padding-bottom: 10px;
      }
    table td {
        display: flex;
    }

    table td label {
        display: block;
        font-weight: bold;
        margin-right: 15px;
        background-color: grey;
        width: 40%;
        padding-left: 5px;
    }

    .ledgerOptions select{
        width: fit-content
    }
    .ledgerOptions h1{
        white-space: no-wrap;
        width: fit-content;
    }
    .ledgerOptions div{
        width:fit-content
    }


}
@media only screen and (max-width: 425px){
    /* Smaller phones */
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}