@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bodyAnimation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.container {
    display: flex;
    position: relative;
    top: 30%;
    left: 10%;
    width: 100%;
}
.form-width{
    width: 40em;
}
html{
    background-color: lightgray;

}
.bodyAnimationObject{
    bottom: 0px;
    width: 20px;
    height: 20px;
    background-color: lightslategray;
    border-radius: 50%;
    animation-name: bodyAnimation;
    animation-duration: 4s;
}
.navbarCollapse {
    background-color: red;
    transition: height 2s ease;
    overflow: hidden;
}
.navbar-show{
    height: 100vh;
}
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(255, 0, 0); 
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%;
    text-align: center;
    margin-top: 30px; 
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }