@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.darkMode .animationContainer {
    background-color: rgb(0, 0, 0);

}

.darkMode li{
    background-color: rgba(255, 192, 74, 0.562);
}
.darkMode .bg-white{
    background-color: rgb(53, 53, 53);
    color: grey !important;
    border: 1px solid rgba(0, 0, 0, 0)
}
.darkMode tr{
    background-color: rgba(53, 53, 53, 0.945);
}
.darkMode .grid{
    background-color: rgba(255, 255, 255, 0);
}
.darkMode tr input{
    background-color: rgba(61, 61, 61, 0.945);

}
.darkMode h1{
    color: white !important;
}
.darkMode label{
    color: white;
}
.darkMode input{
    color: grey
}
.footer ul li{
    background-color: inherit !important;
}
table{
    border-collapse: separate;
    border-spacing: 0 20px;
}
table th{
    border: 0;
}
.gpb::before{
    content: "£";

}
.chartContainer{
    height: 40vh;
    position: relative;
}
.chartItem{
    height: 100%;
}
.container {
    display: flex;
    position: relative;
    top: 30%;
    left: 10%;
    width: 100%;
}
.form-width{
    width: 50em;
}
.form-length{
    height: 50em;
}
html{
    background-color: #9ae2ff;
}
a{
 color: blue ;

}
a:hover{
    color: red
}
html, body {
  height: 100%;
  min-height: 100vh;
}

.footer-bottom{
    bottom: 100vh;
}
footer {
      margin-top: auto;
  border: 1px solid red;    
  margin-top: auto !important;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.96);
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 5%; /* 25% from the top */
    width: 100%;
    text-align: center;
    margin-top: 30px;

}
.overlay-content a:hover{
    animation: increaseTextSize 1s ease-in-out infinite;
}
.overlay a {
    font-family: 'roboto';
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
}
.overlay label{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: inline;   
}
.overlay-content a:hover{
    color: orange;
}
@keyframes increaseTextSize {
    0%{
        transform: scale(1)
    }100%{
        transform: scale(1.1)
    }
}