@media only screen and (max-width: 600px) {
    /* Bigger phones */

    table{
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
    }
    table thead {
        display: none;
    } 
    table tr {
        margin-bottom: 10px;
      }
    table td {
        display: flex;
    }
    table td label {
        display: block;
        font-weight: bold;
        margin-right: 15px;
        background-color: grey;
        width: 40%;
        color: white;
    }

    .ledgerOptions select{
        width: fit-content
    }
    .ledgerOptions h1{
        white-space: no-wrap;
        width: fit-content;
    }
    .ledgerOptions div{
        width:fit-content
    }
    grid canvas{
        column-span:all;
        width: 100%;
        height: 100%;
    }
    .chartGrid{
        grid-template-columns: 1fr ;
        width: 100%;
    }
    .chartGrid div{
        width: 100%;
        height: 100%;
    }

}
@media only screen and (max-width: 425px){
    /* Smaller phones */
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}